gcs/base/src/pt/com/gcs/etc/main.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="config-version" type="xs:string" />
				
				<xs:element name="net">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ip" type="xs:string" />
							<xs:element name="port" type="xs:int" />
							<xs:element name="setTcpNoDelay" type="xs:boolean" />
							<xs:element name="discovery_delay" type="xs:int" />
							<xs:element name="file_ref" type="xs:string" />
							<xs:element name="broker-port" type="xs:int" />
							<xs:element name="broker-http-port" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="persistency">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="directory" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="messaging">
		          <xs:complexType>
		            <xs:sequence>
		              <xs:element name="dropbox">
		                <xs:complexType>
		                  <xs:sequence>
		                    <xs:element name="enabled" type="xs:boolean" />
		                    <xs:element name="dir" type="xs:string" />
		                    <xs:element name="check_interval" type="xs:int" />
		                  </xs:sequence>
		                </xs:complexType>
		              </xs:element>
		            </xs:sequence>
		          </xs:complexType>
		        </xs:element>
		        
				<xs:element name="statistics">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="collect_stats" type="xs:boolean" />
							<xs:element name="send_updates" type="xs:boolean" />
							<xs:element name="topic" type="xs:string" />
							<xs:element name="update_interval" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>