gcs/base/src/pt/com/gcs/etc/world_map.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="world">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="domain">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="peer">
								<xs:complexType>
									<xs:all>
										<xs:element name="name" type="xs:string" />
										<xs:element name="transport">
											<xs:complexType>
												<xs:all>
													<xs:element name="type" type="xs:string" />
													<xs:element name="ip" type="xs:string" />
													<xs:element name="port" type="xs:int" />
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>